<!doctype html>
<html lang="en">
<head>
{#    {% static 'css/style.css' %}#}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'my_index' %}">home</a>
<a href="{% url 'my_aboutus' %}">about</a>
<a href="{% url 'my_contact' %}">contact</a>
<a href="{% url 'my_gallery' %}">gallery</a>
<a href="{% url 'my_service' %}">services</a>

{#<p>contact us</p>#}
<h1>contact us</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet animi, aspernatur culpa cumque debitis dolore esse fuga ipsa libero minus officia praesentium, quod sit! Ab cupiditate eos itaque perferendis saepe!</p>

</body>
</html>