<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="{% url 'my_index' %}">home</a>
<a href="{% url 'my_aboutus' %}">about</a>
<a href="{% url 'my_contact' %}">contact</a>
<a href="{% url 'my_gallery' %}">gallery</a>
<a href="{% url 'my_service' %}">services</a>

<h1>services</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fuga omnis tenetur? Accusamus blanditiis eius explicabo maiores natus nulla optio perspiciatis quo velit vitae! Aspernatur fuga laboriosam maiores officia placeat!</p>

</body>
</html>